
# ⚙️ ตัวอย่างไฟล์ .env สำหรับระบบ OverHuman Commander
# คัดลอกไฟล์นี้เป็น `.env` แล้วใส่ค่าจริงของคุณลงไป

BINANCE_API_KEY=nphf79ENgjNZPJEmFkqrC0MLXJtqeYTyKfpKpxemyhHOJoGPzMPpUpyqmakKoUgt
BINANCE_API_SECRET=SUVsyPL0QVexlKzWQd4zVg1tDd9aCN59SSdxmZtNCO1iOXe13ygZOmVOBZUSqqST
TELEGRAM_BOT_TOKEN=7687383353:AAF6POdovLdIikEvG6tYwOMHsDKkXyHIW8
TELEGRAM_CHAT_ID=8027928860